/* Chargement de la police Open Sans Light via un autre site */
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff") format("woff");
}
footer
{
	font-family: "Open Sans Light";
	font-size: x-small;
	background-color: white;
}

.website
{
	color: #EC6E31;
}

.name
{
	color: #359EB4;
}