#date
{
    font-style: italic;
    font-size: 1em;
    color: #EC6E31;
}
#intervenant
{
    font-weight: bold;
    color: #359EB4;
}
#arduino, #raspberry, #recalbox, #maker, #linux, #minecraft, #pc, #impression3d
{
    width: 10em;
    display: block;
    margin: 0 auto;
}

#vibrobot
{
    width: 20em;
    display: block;
    margin: 0 auto;
}
