﻿/* La police doit être chargée en local toute nouvelles police doit être placée dan répertoire fonts*/
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/OpenSans.woff") format("woff");
}

/* Style par défault */

strong
{
    display: block;
}
html
{
	font-size: 100%;
}
header, nav
{
	font-family: "Open Sans Light";
	color: black;
	text-align: center;

}
header img
{
	width: 10%;
	height: 10%;
}

/* Pour les écran supérieur à 800px en largeur comme les ordinateurs et tablettes */
@media screen and (min-device-width: 800px)
{
footer
{
position: fixed;
left: 0.5em;
bottom: 0.2em;
right: 0em;
}
}
footer img
{
	width: 9em;
}
/* Style du titre "La Vilaine Bidouille" */

h1
{
	font-weight: lighter;
	font-size: 4em;
}

/* Style du sous-titre "Le Fablab du pays de Redon" */

h2
{
	font-size: 2em;
	color: grey;
	font-weight: lighter;
}

nav a:hover
{
	
	color: white;
	background-color: #359EB4;

}

nav a
{
background-color: #F2F2F2;
padding: 0.75em 1em 0.75em 1em;
font-size: 1em;
font-family: verdana, sans-serif;
text-decoration:none;
border-radius: 0.8em;
border-color: black;
color: grey;
}

.projet a:hover
{
	background-color: #2D2C2E;
}
@media (max-width: 600px)
{
header img
{
	width: 30%;
	height: 30%;
}
nav a
{
margin-bottom: 0.25em;
display : block;
}
h1
{
font-size: 2em;
}
h2
{
font-size: 1em;
}
}
/* Pour les écran inférieur à 800px comme les smartphone */
@media screen and (max-device-width: 800px)
{
header img
{
	width: 30%;
	height: 30%;
}
nav a
{
margin-bottom: 0.25em;
display : block;
}
h1
{
font-size: 2em;
}
h2
{
font-size: 1em;
}
}

/* Affichage pour les smartphones en mode paysage */
@media screen and (max-device-width: 800px) and (orientation: landscape)
{
    header h1
    {
	margin-top: 0.5px;
	margin-bottom: 0.5px;
    }
    header h2
    {
	margin-top: 0.5px;
	margin-bottom: 0.5px;
    }
    header img
    {
	width: 15%;
	height: 15%;
    }
    nav a
    {
	font-size: 0.90em;
    }
    footer
    {
	display: none;
    }
}
