h3
{
    text-align: center;
}
#fullscreen img
{
    width: 1.5em;
}
#bouton
{
    background-color: #359EB4;
    color: white;
    font-size: 1.5em;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 0.2em;
    vertical-align: middle;
    display: none;
}
#bouton img
{
    width: 1em;
    padding-right: 0.5em;
    vertical-align: middle;
}
section strong
{
    color: black;
    display:block;
}
section em
{
    display:block;
}

h2
{
    color: white;
background-color: #EC6E31;
}


table
{
    color: grey;
    margin-bottom: 1em;
    margin-left: 30%;
}
table td strong 
{
color: #EC6E31;
}
iframe
{
    height: 25%;
    width: 100%;
}
@media (max-width: 800px)
{

    iframe
    {
	height: 10em;
    }
    #bouton
    {
	font-size: 1em;
    }
}
@media screen and (max-device-width: 800px)
{
    
    iframe
    {
	height: 7em;
    }
  
    #bouton
    {
	font-size: 1em;
    }
    
}

