body
{
background-color: white;
}
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/OpenSans.woff") format("woff");
}
@font-face {
  font-family: "Poiret";
  src: url("fonts/PoiretOne-Regular.ttf");
}
@font-face {
	font-family: "Glacial";
	src: url("fonts/GlacialIndifference-Regular.otf");
	}
#partie 
{
	display: flex;
    justify-content: space-around;
	flex-flow: row wrap;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
#partie{
	display: inline;
}
}
#partie figure a img
{
    width: 7em;
}
#partie #carrefour img
{
    width: 10em;
}

/* Image pour la navigation */
nav img
{
    width: 5em;
}

header
{

    text-align: center;
    top: 0em;
    padding-top: 1em;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    background-color: white;
}
a
{
    text-decoration: none;
}
section
{
    color: black;
    font-family: "Open Sans Light";
    text-align: center;
    margin-bottom: 2em;
}

h1, h2
{
    color: black;
    font-family: "Open Sans Light";
   
}
h3
{
    font-family: "Open Sans Light";
	padding-bottom: 0.5em;
}
h4
{
font-family: "Poiret";
font-size : 2em;
color: #EC6E31;
}
h1
{
    margin-top:0em;
    margin-bottom: 0em;
    font-size: 3em;
     font-weight: 300;
}

h2
{
    margin-top: 0.5em;
    font-size: 1.5em;
     border-radius: 1em;
}

.contact
{
    color: #EC6E31;
    font-style: bold;
	font-family: "Poiret";
	font-size: 2em;
}
#partie img
{
margin-bottom: 1em;
}
#partie figcaption
{
font-family: "Glacial";
font-size: 1em;
}

section img
{
    width: 15em;
}

#idee img
{
    width: 20em;
}

#horloge img
{
    width: 10em;
}
/* Bouton Retour */
footer a img
{
    width: 3.5em;
    position: absolute;
    right: 3.5em;
	padding-bottom: 1em;
}
@media (max-width: 600px)
{
header img
{
	width: 20%;
}
h1
{
font-size: 2em;
}
h2
{
font-size: 1.2em;
}
}
/* Affichage pour smartphone */
@media screen and (max-device-width: 800px)
{
header img
{
	width: 20%;
}
h1
{
font-size: 2em;
}
h2
{
font-size: 1.2em;
}
}
/* Affichage pour smartphone en mode paysage */
@media screen and (max-device-width: 800px) and (orientation: landscape)
{
    header img
    {
	width: 10%;
	vertical-align: middle;
    }
    h1
    {
	padding-left: 10px;
	display: inline;
	font-size: 2.5em;
	vertical-align: middle;
    }
    h2
    {
	font-size: 1.2em;
    }
}